In [4]:
import pandas as pd
import numpy as np
data = pd.Series(['a','b','c','d'])
#data[len(data)-1]
print(data)
#dir(pandas)
#data1 = pd.Series(np.arange(1,5),index=['a','b','c','d'])
data[2]

0    a
1    b
2    c
3    d
dtype: object

'c'

In [2]:
df = pd.DataFrame({'Name':['Lovejeet'],'Year':['2021']},index = ['a'])
print(df)
print(df['Name'])

       Name  Year
a  Lovejeet  2021
a    Lovejeet
Name: Name, dtype: object

In [3]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns = ['a','b','c'],index = np.arange(1,4))
print(df1)
print(df1.tail(2))

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9
   a  b  c
2  4  5  6
3  7  8  9

In [4]:
df2 = pd.DataFrame({'a':[1,"",7],'b':[2,5,8],'c':[3,"",9]},index = np.arange(1,4))
print(df2)
print(df2['a'][3])
print(df2.replace(1,""))

   a  b  c
1  1  2  3
2     5
3  7  8  9
7
   a  b  c
1     2  3
2     5
3  7  8  9

In [5]:
df2.to_csv("C:/Users/Lovejeet_PC/Desktop/df2.csv",index = False)
d = pd.read_csv("C:/Users/Lovejeet_PC/Desktop/df2.csv")
d

     a  b    c
0  1.0  2  3.0
1  NaN  5  NaN
2  7.0  8  9.0

In [6]:
df1

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9

In [7]:
df1.loc[:,'a']

1    1
2    4
3    7
Name: a, dtype: int64

In [8]:
df1.loc[:1,'a'] = 10

In [9]:
df1

    a  b  c
1  10  2  3
2   4  5  6
3   7  8  9

In [10]:
df1.loc[:,:'c']

    a  b  c
1  10  2  3
2   4  5  6
3   7  8  9

In [20]:
df1.iloc[:,0]

1    10
2     4
3     7
Name: a, dtype: int64

In [12]:
df1

    a  b  c
1  10  2  3
2   4  5  6
3   7  8  9

In [13]:
df1.append({'a':11,'b':12,'c':13},ignore_index=True)

    a   b   c
0  10   2   3
1   4   5   6
2   7   8   9
3  11  12  13

In [14]:
g = df1.as_matrix()
g

c:\users\lovejeet_pc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[10,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]], dtype=int64)

In [15]:
type(g)

numpy.ndarray

In [16]:
h = pd.np.array([np.arange(2,200,2)])
h

array([[  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
         28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
         54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
         80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102, 104,
        106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130,
        132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156,
        158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182,
        184, 186, 188, 190, 192, 194, 196, 198]])

In [17]:
type(h)

numpy.ndarray

In [18]:
df1.isna()

       a      b      c
1  False  False  False
2  False  False  False
3  False  False  False

In [19]:
df1.isnull()

       a      b      c
1  False  False  False
2  False  False  False
3  False  False  False

In [5]:
data = pd.read_csv('mushrooms.csv')

In [7]:
data.tail()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
8119,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8120,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8121,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8122,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8123,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l